<% total_price = 0 %>
<div class="list-group-item">
  <div class="row text-right">
    <div class="col-4 text-left">
      <p><%= link_to cart_product.product.name, shop_product_path(cart_product.product.shop, cart_product.product) %></p>        
    </div>
    <div class="col-2 text-left">
      <p><%= cart_product.product.shop.name %></p>        
    </div>
    <div class="col-2">
      <p><%= cart_product.quantity  %></p>
    </div>
    <div class="col-2">
      <p><%= number_with_precision(cart_product.product.price, precision: 2) %>€</p>
    </div>
    <div class="col-2">
      <p><%= number_with_precision(cart_product.quantity * cart_product.product.price, precision: 2) %>€</p>
    </div>        
  </div>
</div>
<% total_price += cart_product.quantity * cart_product.product.price %>