<h1>All shop <%= link_to icon('fas', 'plus'), new_shop_path %></h1>


  <% @shops.each do |shop| %>
    <%= link_to shop_path(shop) do %>
      <div class="card-shop">
        <% if shop.logo.attached? %>
          <%= cl_image_tag shop.logo.key, height: 150, width: 150, crop: :fill, class: "shop-logo" %>
        <% elsif shop.pictures.attached? %>
           <%= cl_image_tag shop.pictures.first.key, height: 150, width: 150, crop: :fill, class: "shop-picture" %>
        <% end %>
        <div class="card-shop-infos">
          <h2><%= shop.name %></h2>
          <p><%= shop.description %></p>
          <p><%= shop.address.full_address %></p>
        </div>
      </div>
    <% end %>
  <% end %>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
