<h1>Your Shops <%= link_to icon('fas', 'plus'), new_shop_path, class: "text-warning" if current_user %></h1>

<div class="row">
  <% current_user.shops.each do |shop| %>
    <div class="col-12 col-md-6 col-xl-4 mb-4">
      <%= link_to shop_path(shop) do %>
        <div class="card-shop">
          <% if shop.logo.attached? %>
            <%= cl_image_tag shop.logo.key, height: 150, width: 150, crop: :fill, class: "shop-logo" %>
          <% elsif shop.pictures.attached? %>
            <%= cl_image_tag shop.pictures.first.key, height: 150, width: 150, crop: :fill, class: "shop-picture" %>
          <% end %>
          <div class="card-shop-infos text-dark">
            <h2><%= shop.name %></h2>
            <p><%= shop.description.length > 40 ? "#{shop.description.first(40)} (...)" : shop.description %></p>
            <p><%= shop.address.full_address %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<h2>Deliveries from your shop:</h2>
<% @deliveries.each do |delivery| %>
  <div class="card my-3">
    <div class="order-header d-flex justify-content-between">
      <h5 class="m-0">Shop: <%= delivery.shop.name %></h5>
      <p class="m-0">#SL00<%= delivery.order.id %></p>
    </div>
    <div class="card-body">

      <% @cart_products = delivery.cart_products %>
      <% render @cart_products %>

      <div class="form-row">
        <div class="col-5">
          <h5 class="card-title"><strong>Status:</strong> <%= delivery.status %></h5>
        </div>
        <div class="col-5">
          <h5 class="card-text"><strong>Type of vehicle:</strong> <%= delivery.vehicle ? delivery.vehicle.type_name : 'Not yet specified' %></h5>
        </div>
      </div>
      <% unless delivery.status == "delivered" %>
        <%= simple_form_for delivery, remote: true do |f| %>
          <div class="form-row align-items-end">
            <div class="col-5">
              <%= f.input :status, collection: Delivery::STATUS.first(2) %>
            </div>
            <div class="col-5">
              <%= f.input :vehicle, collection: Vehicle::TYPES, selected: delivery.vehicle&.type_name %>
            </div>
            <div class="col-2">
              <%= f.button :submit, class: "btn btn-primary mb-3" %>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="form-row">
        <div class="col-5">
          <h6 class="card-text"><strong>Shop address:</strong> <%= delivery.shop.address&.full_address %></h6>
        </div>
          <div class="col-7">
            <h6 class="card-text"><strong>Delivery address:</strong> <%= delivery.full_address %></h6>
          </div>
        </div>

    </div>
  </div>
<% end %>

