<%= link_to  "Back to all shops", shops_path %>
<h1><%= @shop.name %> <%= link_to  icon('fas', 'edit'), edit_shop_path(@shop), class: "text-warning" if current_user == @shop.user %></h1>
<div class="shop-header">
  <div class="row">
    <div class="col-3 pr-0">
      <% if @shop.logo.attached? %>
        <%= cl_image_tag @shop.logo.key, class: "w-100" %>
      <% elsif @shop.pictures.attached? %>
        <% @shop.pictures.each do |photo| %>
          <%= cl_image_tag photo.key, class: "w-100" %>
        <% end %>
      <% else %>
        <img src="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-image_large.png?format=jpg&quality=90&v=1530129081" alt="">
      <% end %>
    </div>
    <div class="col-9">
      <div class="row p-3 bg-gray h-100">
        <div class="col-8 d-flex align-items-center">
          <p class="m-0"><%= @shop.description %></p>
        </div>
        <div class="col-4 border-left border-white text-center d-flex flex-column justify-content-center">

          <button type="button" class="btn action-button" data-toggle="modal" data-target="#shopreviewModal">
            Add review
          </button>

          <% @shop.shopreviews.last(2).each do |review| %>
          <div class="fake-review mt-4">
            <div class="rating-div d-flex align-items-center">
              <p class="text-secondary my-0 mr-2"><%= review.user.first_name %> -</p>
              <% review.rating.times do %>
                <i class="fas fa-star"></i>
              <% end %>
              <% (5 - review.rating).times do %>
                <i class="far fa-star"></i>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<h2 class="my-4 pb-2 border-bottom">Best sellers from <%= @shop.name %></h2>
<%= render 'products/products', products: @shop.products %>


<!----Modal for reviewshop -->

<div class="modal fade" id="shopreviewModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add a review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= simple_form_for [@shop, @shopreview] do |f| %>
        <%= f.input :content %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
        <%= f.submit "Send your review" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
