<%= link_to  "Back to all shops", shops_path %>
<h1><%= @shop.name %> <%= link_to  icon('fas', 'edit'), edit_shop_path(@shop), class: "text-warning" if current_user == @shop.user %></h1>
<div class="shop-header">
  <div class="row">
    <div class="col-3 pr-0">
      <% if @shop.logo.attached? %>
        <%= cl_image_tag @shop.logo.key, class: "w-100" %>
      <% elsif @shop.pictures.attached? %>
        <% @shop.pictures.each do |photo| %>
          <%= cl_image_tag photo.key, class: "w-100" %>
        <% end %>
      <% else %>
        <img src="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-image_large.png?format=jpg&quality=90&v=1530129081" alt="">
      <% end %>
    </div>
    <div class="col-9">
      <div class="row p-3 bg-gray h-100">
        <div class="col-8 d-flex align-items-center">
          <p class="m-0"><%= @shop.description %></p>
        </div>
        <div class="col-4 border-left border-white text-center d-flex flex-column justify-content-center">
          <p>Average review :</p>
          <% if @shop.shopreviews.count == 0 %>
            <p>There are no reviews yet, be the first one!</p>
            <button type="button" class="btn action-button" data-toggle="modal" data-target="#shopreviewModal">
              Add review
            </button>
          <% else %>
            <% sum = 0 %>
            <% @shop.shopreviews.each do |review| %>
              <% sum += review.rating %>
            <% end %>
            <% avg = sum / @shop.shopreviews.length %>
            <div class="d-flex align-items-center justify-content-center">
              <% avg.times do %>
                <i class="fas fa-star text-warning"></i>
              <% end %>
              <% (5 - avg).times do %>
                <i class="far fa-star text-warning"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="bg-white p-4 my-4 round">
  <h3>Last reviews</h3>
  <% if @shop.shopreviews.count == 0 %>
  <p>There are no reviews yet, be the first one!</p>
  <% end %>
  <% @shop.shopreviews.last(5).each do |review| %>
    <div class="fake-review py-2 mb-2 border-top">
      <div class="rating-div d-flex align-items-center">
        <p class="mb-1"><%= review.content %></p>
      </div>
      <div class="rating-div d-flex align-items-center">
        <p class="text-secondary my-0 mr-2"><%= review.user.first_name %> -</p>
        <% review.rating.times do %>
          <i class="fas fa-star text-warning"></i>
        <% end %>
        <% (5 - review.rating).times do %>
          <i class="far fa-star text-warning"></i>
        <% end %>
      </div>
    </div>
  <% end %>
  <button type="button" class="btn action-button" data-toggle="modal" data-target="#shopreviewModal">
    Add review
  </button>
</section>

<h4 class="my-4 pb-2 border-bottom">Best sellers from <%= @shop.name %></h4>
<%= render 'products/products', products: @shop.products %>


<!----Modal for reviewshop -->

<div class="modal fade" id="shopreviewModal" tabindex="-1">
  <%= render  "shared/reviewmodal", arr: [@shop, @shopreview] %>
</div>
