<%= link_to  "Back to shops", shops_path %>
<h1><%= @shop.name %> <%= link_to  icon('fas', 'edit'), edit_shop_path(@shop) if current_user == @shop.user %></h1>
<div class="shop-header">
  <div class="row">
    <div class="col-3 pr-0">
      <% if @shop.logo.attached? %>
        <%= cl_image_tag @shop.logo.key, class: "w-100" %>
      <% elsif @shop.pictures.attached? %>
        <% @shop.pictures.each do |photo| %>
          <%= cl_image_tag photo.key, class: "w-100" %>
        <% end %>
      <% end %>
    </div>
    <div class="col-9">
      <div class="row p-3 shop-info h-100">
        <div class="col-8 d-flex align-items-center">
          <p class="m-0"><%= @shop.description %></p>
        </div>
        <div class="col-4 border-left border-white text-center d-flex flex-column justify-content-center">
          <p>Customers reviews</p>
          <div class="rating-stars">
            <%= icon('fas', 'star') %>
            <%= icon('fas', 'star') %>
            <%= icon('fas', 'star') %>
            <%= icon('fas', 'star') %>
            <%= icon('far', 'star') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h2 class="my-4 pb-2 border-bottom">Best sellers from <%= @shop.name %></h2>
<%= render 'products/products', products: @shop.products %>

<div class="product-card">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="product-card-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="product-card-pricing">£99.99</h2>
  </div>
</div>
