<%= link_to  "Back to shops", shops_path %>

<div class="jumbotron">
  <h1 class="display-4"><%= @shop.name %> <%= link_to  icon('fas', 'edit'), edit_shop_path(@shop) if current_user == @shop.user %></h1>
  <p class="lead"><%= @shop.description %></p>
  <hr class="my-4">
  <p><%= @shop.address.city %></p>
</div>

<%= render 'products/products', products: @shop.products %>
