<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag 'logo-shoplocally.png', class: "logo" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="d-flex align-items-center">
    <div class="search-form-control">
      <%= form_tag shops_path, id: "secret", class: "d-flex align-items-center", method: :get do %>
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Products, shops, category"%>
        <%= button_tag(type: "submit", class: "btn btn-flat magnified-icon") do %>
        <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>
  </div>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto d-flex align-items-center pr-3">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <% if current_user.avatar.attached? %>
            <%= cl_image_tag current_user.avatar.key, id: "navbarDropdown", class: "rounded-circle avatar dropdown-toggle", data: { toggle: "dropdown"}%>
          <% else %>
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%=asset_path 'noavatar.png' %>" />
          <%end%>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Dashboard", orders_path, class: "dropdown-item" %>
            <%= link_to "Update profile", edit_user_registration_path , class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to  icon('fas', 'shopping-cart'), current_cart_path, class: "text-white" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
