<h2>My deliveries</h2>
<% @my_deliveries.each do |delivery| %>
  <div class="card my-3">
    <div class="card-header p-2 order-header">
    <div class="d-flex justify-content-around">
      <p class="m-0">Id: <%= delivery.id %></p>
      <h5 class="m-0">Shop: <%= delivery.shop.name %></h5>
    </div>
    </div>
    
    <div class="card-body p-2">
      
      <div class="row mt-1">
        <div class="col">
            <%= simple_form_for delivery, remote: true, url:  "/deliveries/#{delivery.id}/status" do |f| %>
              <div class="form-row align-items-end">
              <div class="col">
                <%= f.input :status, collection: Delivery::STATUS.last(4), value: delivery.status  %>
              </div>
                <div class="col">
                <%= f.submit 'Update', class: "btn btn-primary mb-3" %>
                </div>
                
              </div>
            <% end %>
        </div>
        <div class="col">
          <p class="card-text"><strong>Type of vehicle:</strong> <%= delivery.vehicle ? delivery.vehicle.type : 'Not yet specified' %></p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p class="card-text"><strong>Shop address:</strong> <%= delivery.shop.address.full_address %></p>
        </div>
        <div class="col">
          <p class="card-text"><strong>Delivery address:</strong> <%= delivery.order.user.address.full_address %></P>
        </div>
      </div>

    </div>
  </div>
<% end %>

<h2 class="mt-3 py-2">Pending deliveries</h2>

<div class="row font-weight-bold py-2 border-bottom">
    <div class="col-1">
      <span>Id</span> 
    </div>
    <div class="col-1">
      <span>Status</span> 
    </div>
    <div class="col-2">
      <span>Shop</span> 
    </div>
    <div class="col-3">
      <span>Pickup address</span> 
    </div>
        <div class="col-3">
      <span>Delivery address</span> 
    </div>
  </div>

<% @deliveries.each do |delivery| %>
  <div class="row py-1 border-bottom">
    <div class="col-1">
      <span><%= delivery.id %></span> 
    </div>
       <div class="col-1">
      <span><%= delivery.status %></span> 
    </div>
    <div class="col-2">
      <span><%= delivery.shop.name %></span> 
    </div>
    <div class="col-3">
      <span><%= delivery.shop.address.full_address %></span> 
    </div>
    <div class="col-3">
      <span><%= delivery.full_address %></span> 
    </div>
    <div class="col-2">
    <div>
        <%= simple_form_for delivery, remote: true, url:  "/deliveries/#{delivery.id}/assign", class:"form-inline" do |f| %>
          <div class="form-group">
          <%= f.hidden_field :user, value: current_user  %>
          <%= f.submit 'Assign to me', class: "btn btn-primary btn-sm" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>