<div class="d-flex justify-content-between align-items-center">
  <div>
    <h1>Deliveries</h1>
    <h3 class="text-warning font-weight-bold">Bring the orders to your neighbors</h3>
  </div>
  <%= image_tag("delivery.svg", class: "delivery-illustration") %>
</div>

<h2>My deliveries</h2>
<% @my_deliveries&.each do |delivery| %>
  <div class="card my-3">
    <div class="order-header">
      <div class="d-flex justify-content-between">
        <h5 class="m-0"><%= delivery.shop.name %></h5>
        <p class="m-0">#DL00<%= delivery.id %></p>
      </div>
    </div>    
    <div class="card-body">
      <div class="form-row border-bottom mb-3 pb-1 font-weight-bold">
        <div class="col-4">
          <p class="m-0">Status</p>
        </div>
        <div class="col-2">
          <p class="m-0">Vehicle</p>
        </div>
        <div class="col-3">
          <p class="m-0">Pickup address</p>
        </div>
        <div class="col-3">
          <p class="m-0">Delivery address</p>
        </div>
      </div> 
      <div class="form-row">
        <div class="col-4">
          <%= simple_form_for delivery, remote: true, url:  "/deliveries/#{delivery.id}/status" do |f| %>
            <div class="form-row align-items-end">
              <div class="col-7">
                <%= f.input :status, collection: Delivery::STATUS.last(4), value: delivery.status, label: false  %>
              </div>
              <div class="col-3">
                <%= f.submit 'Update', class: "btn btn-primary mb-3" %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-2">
          <p><%= delivery.vehicle ? delivery.vehicle.type_name : 'Not yet specified' %></p>
        </div>
        <div class="col-3">
          <p><%= delivery.shop.address.full_address %></p>
        </div>
        <div class="col-3">
          <p><%= delivery&.full_address %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<h2 class="mt-3 py-2">Pending deliveries</h2>

<% @deliveries&.each do |delivery| %>
  <div class="card my-3">
    <div class="order-header d-flex justify-content-between align-items-center">
      <h5 class="m-0"><%= delivery.shop.name %></h5>
      <p class="m-0">#DL00<%= delivery.id %></p>
    </div>
    <div class="card-body">

      <div class="form-row border-bottom mb-3 pb-1 font-weight-bold">
        <div class="col-2">
          <p class="m-0">Status</p>
        </div>
        <div class="col-2">
          <p class="m-0">Vehicle</p>
        </div>
        <div class="col-3">
          <p class="m-0">Pickup address</p>
        </div>
        <div class="col-3">
          <p class="m-0">Delivery address</p>
        </div>
        <div class="col-2"></div>
      </div>
      <div class="form-row">
        <div class="col-2">
          <p><%= delivery.status.split("_").join(" ") %></p>
        </div>
        <div class="col-2">
          <p><%= delivery.vehicle.type_name %></p>
        </div>
        <div class="col-3">
          <p><%= delivery.shop.address.full_address %></p>
        </div>
        <div class="col-3">
          <p><%= delivery.full_address %></p>
        </div>
        <div class="col-2">
          <%= simple_form_for delivery, remote: true, url:  "/deliveries/#{delivery.id}/assign", class:"form-inline" do |f| %>
            <div class="form-group">
            <%= f.hidden_field :user, value: current_user  %>
            <%= f.submit 'Assign to me', class: "btn btn-primary btn-sm w-100" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
