<h2>Delivery details for order #SL00<%= @delivery.order.id %></h2>

<div class="card my-3">
  <h5 class="card-header">Shop: <%= @delivery.shop.name %></h5>
  <div class="card-body">
    
    <% @cart_products = @delivery.cart_products %>
    <% render @cart_products %>

    <div class="row mt-1">
      <div class="col">
        <h5 class="card-title"><strong>Status:</strong> <%= @delivery.status %></h5>
      </div>
      <div class="col">
        <p class="card-text"><strong>Type of vehicle:</strong> <%= @delivery.vehicle ? @delivery.vehicle.type : 'Not yet specified' %></p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="card-text"><strong>Shop address:</strong> <%= @delivery.shop.address.full_address %></p>
      </div>
        <div class="col">
          <p class="card-text"><strong>Delivery address:</strong> <%= @delivery.order.user.address.full_address %></P>
        </div>
      </div>

  </div>
</div>

<%= link_to 'Back to orders', orders_path, class: "btn btn-outline-success" %>
