<h2>Your orders</h2>

<% @orders.each do |order| %>
  <ul class="list-group list-group-flush border-bottom pb-3 mb-3">
  <div class="order-header">
    <div class="row">
      <div class="col-2">
        <p class="m-0">Order n° : #SL00<%= order.id %> </p>
      </div>
      <div class="col-2">
        <p class="m-0">Status : <%= order.status %> </p>
      </div>
      <div class="col-8">
        <p class="m-0">Placed on : <%= order.created_at.strftime("%d/%m/%Y at %H:%M") %></p>
      </div>
    </div>    
  </div>
    <div class="list-group-item">
      <div class="row text-right">
        <div class="col-2 text-left font-weight-bold">
          <p>Product</p>
        </div>
        <div class="col-3 text-left font-weight-bold">
          <p>Shop</p>
        </div>
        <div class="col-1 text-center font-weight-bold">
          <p>Quantity</p>
        </div>
        <div class="col-2 font-weight-bold">
          <p>Unit Price</p>
        </div>
        <div class="col-2 font-weight-bold">
          <p>Taxes</p>
        </div>
        <div class="col-2 font-weight-bold">
          <p>Total</p>
        </div>
      </div>
    </div>
    <% total_price = 0 %>
    <% order.cart.cart_products.each do |cart_product| %>
      <div class="list-group-item">
        <div class="row text-right">
          <div class="col-2 text-left">
            <p><%= link_to cart_product.product.name, shop_product_path(cart_product.product.shop, cart_product.product) %></p>
          </div>
          <div class="col-3 text-left">
            <p><%= cart_product.product.shop.name %></p>
          </div>
          <div class="col-1 text-center">
            <p><%= cart_product.quantity%></p>
          </div>
          <div class="col-2">
            <p><%= number_with_precision(cart_product.product.price, precision: 2) %>€</p>
          </div>
          <div class="col-2">
            <p><%= cart_product.product_tax.round %>%</p>
          </div>
          <div class="col-2">
            <p><%= number_with_precision(cart_product.quantity * cart_product.product.price, precision: 2) %>€</p>
          </div>
        </div>
      </div>
    <% total_price += cart_product.quantity * cart_product.product.price %>
    <% end %>
    <div class="list-group-item">
      <div class="row text-right">
        <div class="col-10"></div>
          <div class="col-2">
            <p>Total: <%= number_with_precision(total_price, precision: 2) %>€</p>
          </div>
        </div>
        <div class="row border-bottom py-2 my-2">
          <div class="col-5 font-weight-bold">Shop</div>
          <div class="col-2 text-left font-weight-bold">Delivery status</div>
        </div>
          <% order.deliveries.each do |delivery| %>
        <div class="row text-right">
        <div class="col-5 text-left">
          <p> <%= link_to delivery.shop.name, shop_path(delivery.shop)  %> </p>
        </div>
        <div class="col-2 text-left">
          <p> <%=link_to delivery.status, order_delivery_path(order, delivery) %> </p>
        </div>
      </div>
    <% end %>
    </div>
  </ul>

<% end %>

