<div data-controller="checkout">
  <div class="w-75 mx-auto text-center my-1">
    <h5 class="text-secondary" data-target="checkout.heading">Step 1 of 4</h5>
  </div>
  <div class="progress w-75 mx-auto">
    <div data-target="checkout.progress" class="progress-bar bg-warning" role="progressbar"></div>
  </div>
  
  <div class="m-3 p-3 d-flex justify-content-center">
    <button data-target="checkout.prev" data-action="click->checkout#prev" class="text-dark mx-2 btn btn-outline-warning">Previous</button>
    <button data-target="checkout.next" data-action="click->checkout#next" class="mx-2 btn btn-outline-primary">Next</button>
  </div>

  <div data-target="checkout.step1">
    <div class="list-group-item font-weight-bold">
      <div class="row text-right">
        <div class="col-4 text-left">
          <p>Product</p>
        </div>
        <div class="col-2 text-left">
          <p>Shop</p>
        </div>
        <div class="col-2">
          <p>Quantity</p>
        </div>
        <div class="col-2">
          <p>Unit Price</p>
        </div>
        <div class="col-2">
          <p>Total</p>
        </div>
      </div>
    </div>
    <% total_price = 0 %>
    <% @cart.cart_products.order(created_at: :desc).each do |cart_product| %>
    <div class="list-group-item">
      <div class="row text-right">
        <div class="col-4 text-left">
          <p><%= link_to cart_product.product.name, shop_product_path(cart_product.product.shop, cart_product.product) %></p>
        </div>
        <div class="col-2 text-left">
          <p><%= cart_product.product.shop.name %></p>
        </div>
        <div class="col-2">
          <p><%= cart_product.quantity %></p>

        </div>
        <div class="col-2">
          <p><%= humanized_money_with_symbol(cart_product.product.price) %></p>
        </div>
        <div class="col-2">
          <p><%= humanized_money_with_symbol(cart_product.quantity * cart_product.product.price) %></p>
        </div>
      </div>
    </div>
    <% total_price += cart_product.quantity * cart_product.product.price %>
    <% end %>
    <div class="list-group-item">
      <div class="row text-right">
        <div class="col-2 offset-10">
          <p><strong>Total:</strong> <%= humanized_money_with_symbol(total_price) %></p>
        </div>
      </div>
    </div>
  </div>
  
  <%= simple_form_for @address, url: cart_checkout_path, method: :post, remote: true do |f| %>
    <div data-target="checkout.step2" class="d-none">
      <h5 class="my-3">Select shipping preference </h5>
      <% if current_user.address %>
        <div>
          <input type="radio" name="address-selection" id="user-address-radio" value="user">
          <span id="user-address" data-action="click->checkout#address" class="btn action-button btn-sm mb-1"><%= current_user.address.full_address %></span>
        </div>
      <% end %>
      <div>
        <input type="radio" name="address-selection" id="pickup-address-radio" value="pickup">
        <span id="pickup-address" data-action="click->checkout#address" class="btn action-button btn-sm mb-1">Pickup in store</span>
      </div>
      <div>
        <input type="radio" name="address-selection" id="new-address-radio" value="new">
        <span id="new-address" data-action="click->checkout#address" class="btn action-button btn-sm mb-1">New shipping address</span>
      </div>
           
      <hr>
      <h5 class="my-4">New shipping address</h5>
      <%= f.input :street %>
      <%= f.input :number %>
      <%= f.input :postcode %>
      <%= f.input :city %>
    </div>

    <div data-target="checkout.step3" class="d-none">
      <div class="d-flex justify-content-center">
        <%= f.submit 'Create order', class:"mx-2 btn btn-primary btn-lg" %>
      </div>
    </div>
    <% end %>
  </div>

</div>
