<div data-controller="checkout">
  <div class="w-75 mx-auto text-center my-1">
    <h5 class="text-secondary" data-target="checkout.heading">Step 1 of 3</h5>
  </div>
  <div class="progress w-75 mx-auto">
    <div data-target="checkout.progress" class="progress-bar bg-info" role="progressbar"></div>
  </div>
  
  <div class="m-3 p-3 d-flex justify-content-center">
    <button data-target="checkout.prev" data-action="click->checkout#prev" class="mx-2 btn btn-outline-dark">Previous</button>
    <button data-target="checkout.next" data-action="click->checkout#next" class="mx-2 btn btn-outline-dark">Next</button>
  </div>

  <div data-target="checkout.step1">
    <div class="list-group-item font-weight-bold">
      <div class="row text-right">
        <div class="col-4 text-left">
          <p>Product</p>
        </div>
        <div class="col-2 text-left">
          <p>Shop</p>
        </div>
        <div class="col-2">
          <p>Quantity</p>
        </div>
        <div class="col-2">
          <p>Unit Price</p>
        </div>
        <div class="col-2">
          <p>Total</p>
        </div>
      </div>
    </div>
    <% total_price = 0 %>
    <% @cart.cart_products.order(created_at: :desc).each do |cart_product| %>
    <div class="list-group-item">
      <div class="row text-right">
        <div class="col-4 text-left">
          <p><%= link_to cart_product.product.name, shop_product_path(cart_product.product.shop, cart_product.product) %></p>
        </div>
        <div class="col-2 text-left">
          <p><%= cart_product.product.shop.name %></p>
        </div>
        <div class="col-2">
          <p><%= cart_product.quantity %></p>

        </div>
        <div class="col-2">
          <p><%= number_with_precision(cart_product.product.price, precision: 2) %>€</p>
        </div>
        <div class="col-2">
          <p><%= number_with_precision(cart_product.quantity * cart_product.product.price, precision: 2) %>€</p>
        </div>
      </div>
    </div>
    <% total_price += cart_product.quantity * cart_product.product.price %>
    <% end %>
    <div class="list-group-item">
      <div class="row text-right">
        <div class="col-2 offset-10">
          <p><strong>Total:</strong> <%= number_with_precision(total_price, precision: 2) %>€</p>
        </div>
      </div>
    </div>
  </div>
  
  <%= simple_form_for @address, url: cart_checkout_path, method: :post, remote: true do |f| %>
    <div data-target="checkout.step2" class="d-none">
      <% if current_user.address %>
        <%= check_box_tag(:use_user_address) %> <span>Use this address: <strong><%= current_user.address.full_address %></strong></span>
      <% else %>
        <%= check_box_tag(:save_user_address) %>  <span>Save this address</span>
      <% end %>
      <hr>
      <%= f.input :street %>
      <%= f.input :number %>
      <%= f.input :postcode %>
      <%= f.input :city %>
    </div>

    <div data-target="checkout.step3" class="d-none">
      <div class="d-flex justify-content-center">
        <%= select_tag(:payment_id, raw('<option class="p-2" value="1">credit card</option><option class="p-2" value="2">paypal</option><option class="p-2" value="3">bancontact</option>'), class:"py-2 px-3 mx-3") %>
        <%= f.submit 'Pay now', class:"mx-2 btn btn-outline-success" %>
      </div>
    </div>
    <% end %>
  </div>

</div>
