<h2 class="border-bottom pb-3 mb-4">Your shopping cart</h2>

<ul class="list-group list-group-flush pb-4 rounded">
  <div class="list-group-item pb-0">
    <div class="row text-right font-weight-bold">
      <div class="col-4 text-left">
        <p>Product</p>        
      </div>
      <div class="col-2 text-left">
        <p>Shop</p>        
      </div>
      <div class="col-2">
        <p>Quantity</p>        
      </div>
      <div class="col-2">
        <p>Unit Price</p>
      </div>
      <div class="col-2">
        <p>Total</p>
      </div>        
    </div>
  </div>
  <% total_price = 0 %>
  <% @cart.cart_products.order(created_at: :desc).each do |cart_product| %>
    <div class="list-group-item pb-0">
      <div class="row text-right">
        <div class="col-4 text-left">
          <p><%= link_to cart_product.product.name, shop_product_path(cart_product.product.shop, cart_product.product) %></p>        
        </div>
        <div class="col-2 text-left">
          <p><%= cart_product.product.shop.name %></p>        
        </div>
        <div class="col-2">
          <p>
            <%= link_to icon('fas', 'minus-circle'), remove_from_cart_path(cart_product), method: :delete, data: { confirm: 'Are you sure?'}, remote: true %> 
            <span class="mx-1"><%= cart_product.quantity  %> </span>
            <%= link_to icon('fas', 'plus-circle'), add_to_cart_path(cart_product.product), method: :post, remote: true %>
          </p>        
        </div>
        <div class="col-2">
          <p><%= humanized_money_with_symbol(cart_product.product.price) %></p>
        </div>
        <div class="col-2">
          <p><%= humanized_money_with_symbol(cart_product.quantity * cart_product.product.price) %></p>
        </div>        
      </div>
    </div>
  <% total_price += cart_product.quantity * cart_product.product.price %>
  <% end %>
  <div class="list-group-item pb-0">
    <div class="row text-right">
      <div class="col-10"></div>
      <div class="col-2">
        <p><strong>Total:</strong> <%= humanized_money_with_symbol(total_price) %></p>
      </div>        
    </div>
  </div>
</ul>

<div class="d-flex justify-content-end mt-4">
  <%= link_to 'Back', :back, class: "btn btn-outline-warning mr-2 text-dark" if @cart.cart_products.count > 0 %>
  <%= link_to 'Proceed to checkout', cart_checkout_path, class: "btn btn-primary" if @cart.cart_products.count > 0 %>
</div>
