<h1>Products#edit</h1>
<%= simple_form_for([@shop, @product], remote: true ) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :stock %>
  <%= f.input :ean %>
  <%= f.input :tax %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.input :category, collection: Category.all, selected: @product.category&.id %>
  <%= f.submit %>
<% end %>
