<%= link_to shop_product_path(product.shop, product), class: "text-dark" do %>
  <div class="product-card">
    <% if product.photos.attached? %>
      <%= cl_image_tag product.photos.first.key %>
    <% else %>
      <img src="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-image_large.png?format=jpg&quality=90&v=1530129081" alt="">
    <% end %>
    <div class="product-card-infos">
      <div>
        <h2><%= product.name.length > 24 ? product.name.first(24) : product.name %></h2>
        <p><%= product.description.length > 37 ? "#{product.description.first(37)} (...)" : product.description %></p>
      </div>
      <div class="text-right">
        <h2 class="product-card-pricing"><%= number_with_precision(product.price, precision: 2) %>€</h2>
         <%= link_to icon('fas', 'cart-plus'), add_to_cart_path(product), method: :post %>
      </div>
    </div>
  </div>
<% end %>
