<%= link_to "Back to #{@product.shop.name} products", shop_path(@product.shop) %>
<h1>
  <%= @product.name %>
  <% if @product.shop.user == current_user%>
    <%= link_to  icon('fas', 'edit'), edit_shop_product_path(@product.shop, @product), class: "text-warning" %> <%= link_to  icon('fas', 'trash-alt'), product_path(@product), class: "text-warning" , method: :delete, data: { confirm: "Are you sure ?"} %></h1>
  <% end %>
</h1>

<div class="product-header">
  <div class="row">
    <div class="col-3 pr-0">
      <% if @product.photos.attached? %>
        <%= cl_image_tag @product.photos.first.key, class: "w-100" %>
      <% else %>
        <img class="w-100" src="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-image_large.png?format=jpg&quality=90&v=1530129081" alt="">
      <% end %>
    </div>
    <div class="col-9">
      <div class="row p-3 bg-gray h-100">
        <div class="col-8 d-flex align-items-center">
          <p class="m-0"><%= @product.description %></p>
        </div>
        <div class="col-4 border-left border-white text-center d-flex flex-column justify-content-center">
          <h3><%= humanized_money_with_symbol(@product.price) %></h3>
          <% if @product.stock <= 0 %>
            <p>Sorry, this product is currently out of stock</p>
          <% else %>
          <p><%= @product.stock %> in stock</p>
            <%= button_to "Add to cart", add_to_cart_path(@product), method: :post, class: "btn action-button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<% if @product.photos.attached? %>
  <section id="product-photos">
  <% @product.photos.each do |photo| %>
    <% unless photo == @product.photos.first %>
      <%= cl_image_tag photo.key, class: "product-photos" %>
    <% end %>
  <% end %>
  </section>
<% end %>-->
<section class="bg-white p-4 my-4 round">
  <h2>Last reviews</h2>
  <% if @product.productreviews.count == 0 %>
  <p>There are no reviews yet, be the first one!</p>
  <% end %>
  <% @product.productreviews.last(5).each do |review| %>
    <div class="fake-review py-2 mb-2 border-top">
      <div class="rating-div d-flex align-items-center">
        <p class="mb-1"><%= review.content %></p>
      </div>
      <div class="rating-div d-flex align-items-center">
        <p class="text-secondary my-0 mr-2"><%= review.user.first_name %> -</p>
        <% review.rating.times do %>
          <i class="fas fa-star text-warning"></i>
        <% end %>
        <% (5 - review.rating).times do %>
          <i class="far fa-star text-warning"></i>
        <% end %>
      </div>
    </div>
  <% end %>
  <button type="button" class="btn action-button" data-toggle="modal" data-target="#productreviewModal">
    Add review
  </button>
</section>



<h2 class="my-4">See other products from <%= @product.shop.name %></h2>
<div class="bg-gray p-3">
  <div class="row">
    <% @product.shop.products.each do |product| %>
      <% unless product == @product %>
        <div class="col-12 col-md-6 col-xl-4 mb-3">
          <%= render 'products/product_card', product: product %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>



<!-- Modal for product review -->
<div class="modal fade" id="productreviewModal" tabindex="-1">
  <%= render  "shared/reviewmodal", arr: [@product, @productreview] %>
</div>
